<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" class="light" data-header-styles="light" data-menu-styles="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Tailwind dashboard templates for .NET Core (ASP.NET Core) admin panels are readily available online, offering a range of customizable and responsive options. Choose from free and paid templates to streamline your web development workflow today.">
        <meta name="keywords" content="admin panel, admin dashboard, dashboard tailwind, asp net mvc, tailwind admin panel, admin panel dashboard, tailwind dashboard, net core mvc, asp net core, dotnet core, asp net core mvc, tailwind admin dashboard, admin dashboard template, admin panel template, admin template tailwind, tailwind admin template, admin tailwind">
        
        <title>Synto – Asp.Net Mvc5 Tailwind Admin Template</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="~/assets/img/brand-logos/favicon.ico">
    
        <!-- Style Css -->
        <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
    
        <!-- Simplebar Css -->
        <link rel="stylesheet" href="~/assets/libs/simplebar/simplebar.min.css" asp-append-version="true">
    
        <!-- Color Picker Css -->
        <link rel="stylesheet" href="~/assets/libs/simonwep/pickr/themes/nano.min.css" asp-append-version="true">

        <!-- @* @RenderSection("Css",false/*required*/) *@ -->
        @await RenderSectionAsync("Css", required: false)

    </head>
    <body class="cover1 justify-center">

        <div class="flex justify-center min-h-screen align-middle">

            @RenderBody()

        </div>
        <!-- page closed -->

        <!-- popperjs -->
        <script src="~/assets/libs/popperjs/core/umd/popper.min.js"></script>

        <!-- Custom-Switcher JS -->
        <script src="~/assets/js/custom-switcher.js"></script>

        <!-- Preline JS -->
        <script src="~/assets/libs/preline/preline.js"></script>

        @await RenderSectionAsync("Scripts", required: false)

    </body>
</html>
