<!DOCTYPE html>
<html lang="en" class="h-full" dir="ltr" data-nav-layout="horizontal" data-nav-style="menu-click" data-menu-position="fixed">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Tailwind dashboard templates for .NET Core (ASP.NET Core) admin panels are readily available online, offering a range of customizable and responsive options. Choose from free and paid templates to streamline your web development workflow today.">
        <meta name="keywords" content="admin panel, admin dashboard, dashboard tailwind, asp net mvc, tailwind admin panel, admin panel dashboard, tailwind dashboard, net core mvc, asp net core, dotnet core, asp net core mvc, tailwind admin dashboard, admin dashboard template, admin panel template, admin template tailwind, tailwind admin template, admin tailwind">
        
        <title>Synto – Asp.Net Mvc5 Tailwind Admin Template</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="~/assets/img/brand-logos/favicon.ico">

        <!-- Style Css -->
        <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">

        <!-- Simplebar Css -->
        <link id="style" href="~/assets/libs/simplebar/simplebar.min.css" rel="stylesheet" asp-append-version="true">

        <!-- Color Picker Css -->
        <link rel="stylesheet" href="~/assets/libs/simonwep/pickr/themes/nano.min.css" asp-append-version="true">
       
        <!-- Swiper Css -->
        <link rel="stylesheet" href="~/assets/libs/swiper/swiper-bundle.min.css" asp-append-version="true">

        <!-- @* @RenderSection("Css",false/*required*/) *@ -->
        @await RenderSectionAsync("Css", required: false)

    </head>
    <body class="landing-body">

        <!-- Start::main-switcher -->
        <partial name="~/Views/Shared/layouts/landingpage/_switcher.cshtml" />
        <!-- End::main-switcher -->
       
        <!-- Start::modal -->
        <partial name="~/Views/Shared/layouts/landingpage/_modal.cshtml" />
        <!-- End::modal -->   

        <div class="landing-page-wrapper relative">

            <!-- Start::app-header -->
            <partial name="~/Views/Shared/layouts/landingpage/_app-header.cshtml" />
            <!-- End::app-header -->

            <!-- Start::app-sidebar -->
            <partial name="~/Views/Shared/layouts/landingpage/_app-sidebar.cshtml" />
            <!-- End::app-sidebar -->
                        
            <!-- Start::main-content -->
            <div class="main-content landing-main !p-0">

                @RenderBody()

            </div>               

        </div>
        <!-- page closed -->

        <!-- Back To Top -->
        <div class="scrollToTop">
            <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
        </div>

        <div id="responsive-overlay"></div>

        <!-- popperjs -->
        <script src="~/assets/libs/popperjs/core/umd/popper.min.js"></script>

        <!-- Color Picker JS -->
        <script src="~/assets/libs/simonwep/pickr/pickr.es5.min.js"></script>

        <!-- Swiper JS -->
        <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

        <!-- sidebar JS -->
        <script src="~/assets/js/defaultmenu.js"></script>

        <!-- Internal Landing JS -->
        <script src="~/assets/js/landing.js"></script>
        
        @await RenderSectionAsync("Scripts", required: false)

        <!-- Switch JS -->
        <script src="~/assets/js/switch.js"></script>

        <!-- Preline JS -->
        <script src="~/assets/libs/preline/preline.js"></script>

        <!-- Simplebar JS -->
        <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
        

    </body>
</html>
